html {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
}

.u {
  text-decoration: underline;
}

.c {
  text-align: center;
}

.hide {
  display: none;
}

.phone {
  font-family: "Paint Cans";
}

.phone a {
  text-decoration: none;
}

.sitewrap {
  width: 50%;
  margin: 0 auto;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  position: relative; 
  padding: 1em;
  min-height: 100%;
}